.buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.btn{
    font-size: 2em;
    border: none;
    background-color: transparent;
}
.start{
    color: green;
}
.stop{
    color: rgba(128, 128, 128, 0.47);
}
.clear{
    color: red;
}